config HISI_KIRIN_DW_DSI
	tristate "HiSilicon Kirin specific extensions for Synopsys DW MIPI DSI"
	depends on OF_GPIO
	help
	 This selects support for HiSilicon Kirin SoC specific extensions for
	 the Synopsys DesignWare DSI driver. If you want to enable MIPI DSI on
	 hi6220 based SoC, you should selet this option.
