# SPDX-License-Identifier: GPL-2.0

config USB_DWC3_SYNA
	tristate "Synaptics Platforms"
	depends on (ARCH_BERLIN || COMPILE_TEST) && OF
	default USB_DWC3
	help
	  Synaptics SOCs with dwc3 IP.
	  Say 'Y' or 'M' if you have one such device.

