# SPDX-License-Identifier: GPL-2.0-only

menuconfig SYNAPTICS_DEVFREQ
  bool "Synaptics devfreq driver support"
  default y
  help
    Synaptics devfreq driver support

if SYNAPTICS_DEVFREQ

config SYNA_DVFS
	tristate "Synaptics DVFS driver"
	help
	  This adds the DEVFREQ driver for the synaptics DVFS

endif
