# SPDX-License-Identifier: GPL-2.0-only
#
# Hardware monitoring chip drivers configuration
#

menuconfig SYNAPTICS_HWMON
  bool "Synaptics hwmon driver support"
  default y
  help
    Synaptics hwmon driver support

if SYNAPTICS_HWMON

config SENSORS_DOLPHIN
	tristate "Synaptics DOLPHIN SoC hardware monitoring driver"
	help
	  If you say yes here you get support for the PVT sensors for
	  Synaptics DOLPHIN SoC.

endif
